html {
  overflow-y: scroll;
}

body {
    background-color: #cfcfcf
}

.row-tile {
    margin-top: 2%;    
}

.center {
    text-align: center;
}

.display-none {
    display: none;
}

/*.shadow {
    -moz-box-shadow: 3px 3px 4px #000; 
    -webkit-box-shadow: 3px 3px 4px #000; 
    box-shadow: 3px 3px 4px #000; 
}*/

.shadow {
    -webkit-filter: drop-shadow( -5px -5px 5px #000 );
            filter: drop-shadow( -5px -5px 5px #000 ); /* Same syntax as box-shadow, except 
                                                       for the spread property */
}

.flex-container {
    display: flex;
    flex-flow: row;   
}

.player-playable-field {
    float: left;
}

.card-container {
    float: left;
}

svg image {
    width: 100%;
    height: 100%;
}

.hand-card {
    width: 100px;
    height: 150px;
}

.img {
    image-rendering: -moz-crisp-edges;         /* Firefox */
    image-rendering:   -o-crisp-edges;         /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor
}

.column {
    flex-grow: 1;
    transition: flex-grow 1000ms linear;
    /*flex: 1;*/
}

.opponent-combat-counter, .player-combat-counter {
    position: absolute;
    left: 15%;
    top: 38%;
}

.scalable {
    position: relative;
    z-index: 99;
    transition: all 200ms ease-in;
    transform: scale(1);
}

.ability-picker {
    background: blanchedalmond;
    border-radius: 25px;
    border-color: #a0a2a1;
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
}

/*.opponent-playable-nonpermanent:hover {
    transform: scale(3.5);
}*/

.margin2 {
    margin-top: 2%;
}

.top50 {
    top: 50%;
}

.rotated90 {
    transform: rotate(90deg);
}

.transparent0 {
    opacity: 0;
}

.transparent05 {
    opacity: 0.5;
}

.flip-container, .vertical-flip-container {
	perspective: 1000px;
    position: absolute;
    z-index: 99;
}

.flip-container, .front, .back {
	width: 150px;
	height: 98px;
}

.vertical-flip-container, .vertical-front, .vertical-back {
    width: 98px;
    height: 150px;
}

#market-tile {
    min-height: 150px;
}

#player-hand-tile {
    text-align: center;
}

/* flip the pane when hovered */
/*.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}*/

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

.front, .back, .vertical-front, .vertical-back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

.player-hand {
    display: inline-flex;
}

.rest {
    margin-left: -40px;
}

.hand-card:hover {
    transition: all 200ms ease-in-out;
    /*transform: translate(0px, -20px);*/
}

#animation {
    position: absolute;
    z-index: 999;
    transform-origin: 80% 50%;
}

#deck-text {
    position: absolute;
    display: table;
}

.centered {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
/* front pane, placed above back */
.front, .vertical-front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back, .vertical-back {
	transform: rotateY(180deg);
}

.opponent-health-token {
    cursor:url(../images/icons/attack.cur), auto;
}

.animation {
    position: absolute;
    z-index: 999;
    transform-origin: 80% 50%;
/*     -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -o-transform-origin: center center; */

}